.table_block {
    max-width: 860px;
    width: 100%;
    margin: auto;
    font-size: 24px;
    line-height: 50px;
    border-collapse: collapse;
    font-family: Arial, serif;
}

.col1, .col2 {
    width: 175px;
}

.col3 {
    width: 310px;
}

.col4 {
    width: 200px;
}

.col1, .col2, .col3, .col4 {
    background: #3498DB;
    color: #ffffff;
    text-align: left;
}

.table_cell {
    padding-left: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
}

tr:nth-child(odd) {
    background: #eeeeee;
}

tr:nth-child(even) {
    background: #ffffff;
}