.headline {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: lighter;
    color: #676565;
    font-family: Arial, serif;
}

.highlighted {
    font-size: 18px;
    color: #378DB2;
    font-weight: bold;
    font-family: Arial, serif;
}

.standard {
    font-size: 18px;
    color: #676565;
    text-indent: 18px;
    text-align: justify;
    font-family: Arial, serif;
    line-height: 1.5;
}

.cross_out {
    text-decoration: line-through;
    font-family: Arial, serif;
}

.text_block {
    background: #FEEED6;
    margin-left: 12px;
    max-width: 838px;
    width: 100%;
}

.block {

}